button {
  outline: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-move 30s infinite;
  height: 100px;
}

.App-header {
  background-color: #4b81c9;
  height: 140px;
  padding: 10px 0px 20px 0px;
  color: white;
  margin-bottom: 30px;
}

.App-title {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.App-intro {
  font-size: large;
}

.search-button {
  margin-bottom: 20px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #568cce !important;
  box-shadow: 0px 0px 3px #4b81c9;
}

.search-button:active {
  background-color: #63cc55 !important;
  box-shadow: 0px 0px 3px #63cc55;
}

.sweet-loading {
  margin: 15px 0px 15px 0px;
}

.weather-main-data p {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 20px 0px 10px 0px;
  font-size: 32px;
}

.weather-main-data h1 {
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  letter-spacing: -3px;
  font-size: 60px;
  margin: 20px 0px 0px 0px;
}

.weather-main-data h2 {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  letter-spacing: -2px;
  font-size: 30px;
  vertical-align: bottom;
  padding-left: 2px;
}

.weather-state {
  font-size: 60px;
  height: 60px;
  margin-top: 20px;
  display: block;
  color: black;
}

.delete-button {
  position: absolute;
  right: 7px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  color: #ff0b0b;
  float: right;
}

.weather-country h1 {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  line-height: 60px;
}

.weather-buttons {
  display: inline-block;
  position: relative;
}

.weather-buttons button {
  display: block;
  width: 45px;
  height: 45px;
  margin-bottom: 30px;
  font-size: 28px;
  color: white;
  border: none;
  position: absolute;
}

.button-add {
  cursor: pointer;
  background-color: #98df9c;
  top: -150px;
}

.button-add:hover {
  background-color: #43b847;
}

.button-add:active {
  background-color: #62e967;
}

@keyframes App-logo-move {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  25% {
      transform: translate3d(100px, 0px, 0px);
  }
  50% {
    transform: translate3d(0px, 0px, 0px);
  }
  75% {
    transform: translate3d(-100px, 0px, 0px);
  }
  100% {
      transform: translate3d(0px, 0px, 0px);
  }
}
